{% extends 'header.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <H2>Home - Remaindaroo</H2>
    <p>Welcome, {{ username }} to the Remainder Application.</p>

    <div class="login">
        <center>
            <i class="fas fa-stopwatch"></i><span>
        <a href="{{ url_for('set_reminder') }}">Set Reminder</a></span>
        </center>
    </div>

    <div class="login">
        <center>
            <i class="fas fa-stopwatch"></i><span>
        <a href="{{ url_for('set_reminder') }}">Set Reminder</a></span>
        </center>
    </div>

{% endblock %}