{% extends 'header.html' %} {% block title %}Home{% endblock %}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    <!--source code also in main.css -->
</head>

<body>
    {% block content %}

    <div class="login">
        <h1>Set a new reminder</h1>
        <form action="{{ url_for('set_reminder') }}" method="post" autocomplete="off">
            <label for="date"><i class="fas fa-stopwatch></i></label>
            <input type="date" name="date" id="date" required />

            <!--Drop down for with list of subjects -->
            <select name="subject" required>
                <option>Medical Leave</option>
                <option>Emergency leave</option>
                <option>Leave when your dog is upset</option>
            </select>


            <label for="description"><i class="fas fa-comment-alt"></i></label>
            <input type="text" name="description" placeholder="description" id="description" required />

            <label for="email"><i class="fas fa-envelope"></i></label>
            <input type="email" name="email" placeholder="email" id="email" />

            <label for="mobile"><i class="fas fa-mobile"></i></label>
            <input type="text" name="mobile" placeholder="mobile" id="mobile" />

            <label for="snooze"><i class="fas fa-stopwatch"></i>
                <input type="checkbox" name="snooze" id="" />7 Days
                <input type="checkbox" name="snooze" id="" />5 Days
                <input type="checkbox" name="snooze" id="" />3 Days
                <input type="checkbox" name="snooze" id="" />2 Days
                <input type="checkbox" name="snooze" id="" />1 Day
            </label>

            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Add" />
        </form>
    </div>

    {% endblock %}
</body>