{% extends 'header.html' %} {% block title %}Home{% endblock %}

<head>
    <link rel="stylesheet" href="{{ url_for('.static', filename='../static/style.css') }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"/>
    <!--source code also in main.css -->
</head>

<body>
{% block content %}

    <div class="login">
        <h1>{{ value }} reminder</h1>
        <form action="{{ url_for('set_reminder') }}" method="post" autocomplete="off">

            <div class="block">
                <label for="subject"><i class="fas fa-comment-medical"></i></label>
                <input type="text" name="subject" placeholder="subject" id="subject" id="subject" required/>
            </div>

            <div class="block">
                <label for="description"><i class="fas fa-comment-alt"></i></label>
                <input type="text" name="description" placeholder="description" id="description" required/>
            </div>

            <div class="block">
                <label for="r_date"><i class="fas fa-calendar"></i></label>
                <input type="date" name="r_date" id="date" required/>
            </div>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Add"/>
        </form>
    </div>

{% endblock %}
</body>